.banner {
  height: 448px;
}

.banner .banner_l {
  width: 186px;
  border: 1px solid #ccc;
  margin-right: 6px;
}

.banner .banner_l > li {
  width: 188px;
  height: 32px;
  padding-left: 17px;
  position: relative;
}

.banner .banner_l > li span {
  font-size: 16px;
  line-height: 32px;
}

.banner .banner_l > li:hover {
  color: #DC0F50;
  background-color: #ccc;
}

.banner .banner_l > li:hover .navBox {
  display: block;
}

.banner .banner_l > li .navBox {
  display: none;
  position: absolute;
  top: 0;
  left: 190px;
  width: 600px;
  background-color: #fff;
  z-index: 16;
}

.banner .banner_l > li .navBox a {
  padding: 0 30px;
  font-size: 14px;
  line-height: 28px;
}

.banner .banner_l > li .navBox .nav_l {
  width: 150px;
  height: 100px;
}

.banner .banner_l > li .navBox .nav_l a {
  color: #000;
}

.banner .banner_l > li .navBox .nav_r {
  width: 450px;
  height: 100px;
}

.banner .banner_l > li .navBox .nav_r a {
  color: #9D9D9D;
}

.banner .banner_c_t .box {
  width: 572px;
  height: 306px;
}

.banner .banner_r_c {
  margin-right: 8px;
}

.banner .banner_r_t {
  width: 186px;
  height: 148px;
  border: 1px solid #ccc;
  margin-top: 8px;
  padding-top: 17px;
}

.banner .banner_r_t img {
  padding-left: 80px;
}

.banner .banner_r_t p {
  text-align: center;
  font-size: 10px;
  line-height: 20px;
  margin-bottom: 10px;
}

.banner .banner_r_t #loginBtn {
  width: 160px;
  height: 34px;
  margin-left: 15px;
  color: #fff;
  background-color: #DC0F50;
  margin-bottom: 7px;
}

.banner .banner_r_t .register {
  text-align: right;
  margin-right: 12px;
}

.banner .banner_r_b {
  width: 186px;
  height: 114px;
  border: 1px solid #ccc;
  padding-top: 13px;
}

.banner .banner_r_b img {
  margin-bottom: 15px;
}

.shop_t {
  height: 60px;
  padding-top: 36px;
}

.shop_t span {
  font-size: 20px;
}

.shop_b {
  height: 240px;
  padding-top: 22px;
  margin-bottom: 18px;
  position: relative;
  overflow: hidden;
}

.shop_b #shop_lbtn {
  margin-top: 77px;
  float: left;
  position: absolute;
  z-index: 2;
}

.shop_b #shop_rbtn {
  margin-top: 77px;
  right: 0;
  position: absolute;
  z-index: 2;
}

.shop_b .gbox {
  position: absolute;
  left: 23px;
  float: left;
  width: 20000px;
  height: 240px;
}

.shop_b .goods {
  width: 160px;
  height: 218px;
  position: relative;
  margin-left: 28px;
}

.shop_b .goods .imgBox {
  width: 160px;
  height: 160px;
  overflow: hidden;
}

.shop_b .gbox .goods:nth-child(1) {
  margin-left: 0;
}

.shop_b .goods img {
  width: 160px;
  height: 160px;
}

.shop_b .goods .discount {
  width: 47px;
  height: 21px;
  position: absolute;
  right: 0;
  top: 140px;
  background-color: #DC6C8F;
  color: #fff;
  text-align: center;
}

.shop_b .goods .goodscontent {
  font-size: 12px;
  width: 112px;
}

.shop_b .goods .price {
  color: red;
}

.shop_b .goods .buy {
  width: 48px;
  height: 48px;
  color: #fff;
  background-color: red;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
}

.new {
  height: 476px;
}

.new .new_l {
  width: 720px;
}

.new .new_l_title {
  width: 720px;
  height: 72px;
  padding-top: 40px;
}

.new .new_l_title p {
  font-size: 18px;
  line-height: 18px;
}

.new .new_l_img {
  height: 404px;
}

.new .new_l_img_l {
  margin-right: 8px;
}

.new .new_l_img_l_t {
  width: 240px;
  height: 300px;
}

.new .new_l_img_l_b {
  width: 240px;
  height: 103px;
  padding-top: 25px;
}

.new .new_l_img_l_b img {
  margin-left: 10px;
  margin-bottom: 10px;
}

.new .new_r {
  width: 240px;
  height: 476px;
}

.new .new_r_title {
  width: 240px;
  height: 72px;
  padding-top: 45px;
  padding-left: 5px;
}

.new .new_r_title .line {
  color: #ccc;
}

.new .new_r_img {
  height: 404px;
}

.new .new_r_img .hotgoods {
  height: 80px;
  padding-top: 15px;
}

.new .new_r_img .hotgoods p {
  font-size: 12px;
  padding-left: 10px;
}

.new .new_r_img .hotgoods .price {
  font-size: 14px;
  margin-top: 28px;
  color: red;
}

.goodsBanner {
  height: 344px;
}

.goodsBanner .goodsBanner_t {
  height: 64px;
  padding-top: 38px;
  font-size: 22px;
  margin-bottom: 24px;
}

.goodsBanner .goodsBanner_t .line {
  color: #ccc;
}

.goodsBanner .goodsBanner_b {
  height: 256px;
}

.goodsBanner .goodsBanner_b #shop_lbtn {
  margin-top: 77px;
  float: left;
}

.goodsBanner .goodsBanner_b #shop_rbtn {
  margin-top: 77px;
  float: right;
}

.goodsBanner .goodsBanner_b .goods {
  width: 182px;
}

.goodsBanner .goodsBanner_b .goods p {
  font-size: 12px;
  line-height: 24px;
  margin-bottom: 18px;
}

.goodsBanner .goodsBanner_b .goods .price {
  color: red;
  font-size: 14px;
}
