.login {
  height: 430px;
  background-color: yellow;
  background: url(../images/login/login_logo.png) no-repeat 60px 125px;
  position: relative;
}

.login .useLogin {
  width: 360px;
  height: 300px;
  background-color: yellow;
  position: absolute;
  left: 546px;
  top: 54px;
}

.login .useLogin .useLogin_header {
  height: 30px;
  padding: 0 57px;
  font-size: 14px;
  line-height: 30px;
  background-color: pink;
}

.login .useLogin .useLogin_content {
  background-color: red;
  height: 270px;
  border: 1px solid #ccc;
}
