#wrap_top {
  height: 24px;
  background-color: #E5E5E5;
}

#wrap_top .con {
  height: 24px;
}

.wrap_top {
  font-size: 10px;
  line-height: 24px;
}

.wrap_top a {
  margin-right: 12px;
}
.wrap_top #topLoginName,
.wrap_top #topLoginOut{
  display: none;
}
.header {
  height: 104px;
  background-color: pink;
  position: relative;
}

.header .header_l {
  width: 280px;
  padding-top: 25px;
}

.header .header_c {
  width: 400px;
  padding-top: 25px;
}

.header .header_c .header_inpText {
  border: 2px solid #DC0F50;
  height: 36px;
  width: 324px;
}

.header .header_c .header_inpBtn {
  width: 76px;
  height: 36px;
  background-color: #DC0F50;
  color: #fff;
}

.header .header_c a {
  font-size: 12px;
  line-height: 28px;
  padding-right: 10px;
  color: #C0C0C0;
}
.header .header_r {
    padding-top: 25px;
    padding-left: 125px;
    position: relative;
}
.header .header_r .shopCar{
    width: 98px;
    height: 36px;
    border:1px solid #ccc ;
    text-align: center;
    position: relative;
}
.header .header_r .shopCar span{
    font-size: 12px;
    line-height: 36px;

}
.header .header_r .shopCar .shopCarbox{
	width: 200px;
	height: 200px;
	background-color: red;
	position: absolute;
	top: 31px;
	right: 0px;
	z-index: 1;
	display: none;
}
.header .header_r .shopCar:hover .shopCarbox{
	display: block;
}
.header .header_r .shopCar .shopCarbox p{
	font-size: 16px;
	line-height: 32px;
	font-weight: 800;
	text-align: left;
}
.header .header_r .shopCar .shopCarbox .shopCarbox_footer{
	width: 200px;
	height: 50px;
	background-color: #ccc;
}
.header .bian{
    width: 52px;
    height: 160px;
    position: fixed;
    top: 164px;
    left: 50%;
    margin-left: 490px;
    cursor: pointer;
}
.header #live {
  display: none;
}
.nav{
    height: 34px;
}
.nav li{
    height: 34px;
    float: left;
    padding-left: 40px;
}
.nav .allgoodsli{
    width: 188px;
    background-color: #000000;

}
.nav li span{
    font-size: 12px;
    line-height: 34px;
    color: #000000;
    cursor: pointer;
}
.nav .allgoodsli span{
    color: #fff;
    cursor: pointer;
}   