.login {
  height: 430px;
  background: url(../images/login/login_logo.png) no-repeat 60px 125px;
  position: relative;
  .useLogin {
    width: 360px;
    height: 300px;
    position: absolute;
    left: 546px;
    top: 54px;
    .useLogin_header {
      height: 30px;
      padding: 0 57px;
      font-size: 14px;
      line-height: 30px;
    }
    .useLogin_content {
      height: 270px;
      border: 1px solid #ccc;
      padding: 38px 58px 0 58px;
      #useName {
        border:1px solid #ccc ;
        width: 246px;
        height: 30px;
        margin-bottom: 16px;
      }
      #usePassword {
        border:1px solid #ccc ;
        width: 246px;
        height: 30px;
        margin-bottom: 7px;
      }
      .loginRow {
        margin-bottom: 32px;
      }
      span {
        font-size: 12px;
      }
      .autoBtn {
        margin-right: 5px;
      }
      #loginBtn {
        width: 246px;
        height: 30px;
        background-color: #DC0F50;
      }
    }
  }
}